<form (ngSubmit)="addEvent(eventForm)" #eventForm="ngForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" [(ngModel)]="eventForm.value.title" #title required>
  </div>

  <div class="form-group">
    <label for="starts_at">Starts at</label>
    <input type="datetime" class="form-control" name="starts_at" [(ngModel)]="eventForm.value.starts_at" #startsAt required>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" class="form-control" cols="30" rows="10" [(ngModel)]="eventForm.value.description" #description required></textarea>
  </div>

  <div class="form-group">
    <input type="submit" value="Add Event">
  </div>
</form>